nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.navlinks {
  display: flex;
}
nav a {
  text-decoration: none;
  display: flex;
  color: #1d1f22;
}
nav a {
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}
nav a:hover,
a:active {
  color: #5ece7b;
  border-bottom: 1px solid #5ece7b;
  padding-bottom: 10px;
}
.currency--cart {
  display: flex;
}
.currency--cart select {
  margin-right: 20px;
}
.shopping--cart {
  display: flex;
  position: relative;
  cursor: pointer;
}
.shopping--cart button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.cart--button img {
  height: 30px;
}

.badge {
  position: absolute;
  background: #5ece7b;
  bottom: 20px;
  left: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
